/* 
BREAKPOINTS
xxsmall: 425px
xsmall: 576px
small: 640px
medium: 768px
large: 1024px
*/

@font-face {
    font-family: Metropolis;
    src: url('font/Metropolis-Medium.otf');
    font-weight: 500;
  }
  @font-face {
    font-family: Metropolis;
    src: url('font/Metropolis-Bold.otf');
    font-weight: 700;
  }

  body {
    font-family: "Metropolis", sans-serif;
  }


.container{
    width:100%;
    max-width: 960px;
    margin:0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}

.hidden{
    display:none;
}

.main-sec-bg{
    background: linear-gradient(180deg, #FFFFFF 0%, #E2F1FF 100%);
	clip-path: polygon(0 0, 100% 0%, 100% 75%, 0% 100%);
}




/*NAVBAR*/
@media only screen and (max-width:980px ) {
    .nav__main {
        padding: 0 30px;
    }
	.hero {
        padding: 0 30px;
	  }
	  .features {
		padding: 0 30px;
	  }
  
}

.nav{
	width: 100%;
	left:0;
	top:0;
	z-index: 99;
    padding: 19px 0; 
}
.nav__main{
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 4px;
}
.nav .nav__list > .nav__item{
	display: inline-block;
	margin-right: 40px;
	position: relative;
}
.nav .nav__list > .nav__item > a{
	display: block;
	font-size: 14px;
    line-height: 14px;
	color: #000000;
	text-transform: capitalize;
	font-weight: 500;
	transition: all 0.3s ease;
}
.nav__button {
    padding: 10px 23.2px 10px 23.2px;
    color: #722ED1;
    font-size: 14px;
    font-weight: 500;
    border-radius: 23px;
    border: 1px solid #722ED1;
        }

.nav__button:hover{
-webkit-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;   
background-color: #722ED1;
color: white;
border: 1px solid white;
}

.nav .nav__list > .nav__item > .nav__dropdown > .nav__item > a:hover,
.nav .nav__list > .nav__item:hover > a{
	color: #722ED1;
}
.nav .nav__list > .nav__item > .nav__dropdown{
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	width: 220px;
	position: absolute;
	margin-top: 20px;
	left:0;
	top:100%;
	background-color: #ffffff;
	padding: 10px 0;
	border-top: 3px solid #722ED1;
	transform: translateY(10px);
	transition: all 0.3s ease;
	opacity:0;
	visibility: hidden;
}
@media(min-width: 768px){
.nav .nav__list > .nav__item-child:hover > .nav__dropdown{
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
 }
}
.nav .nav__list > .nav__item > .nav__dropdown > .nav__item{
	display: block;
}
.nav .nav__list > .nav__item > .nav__dropdown > .nav__item > a{
	display: block;
	padding: 10px 20px;
	font-size: 12px;
	font-weight: 600;
	color: #000000;
	transition: all 0.3s ease;
	text-transform: capitalize;
}
.nav .nav__menu-open{
	height: 34px;
	width: 40px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.nav .nav__menu-open span{
	display: block;
	height: 3px;
	width: 24px;
	background-color: #000000;
    position: relative;
}
.nav .nav__menu-open span:before,
.nav .nav__menu-open span:after{
	content: '';
	position: absolute;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #000000;
	box-sizing: border-box;
}
.nav .nav__menu-open span:before{
	top:-7px;
}
.nav .nav__menu-open span:after{
	top:7px;
}
.nav .nav__menu-close{
	height: 40px;
	width: 40px;
	background-color: #ffffff;
	margin:0 0 15px 15px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}
.nav .nav__menu-close img{
	width: 16px;
}
.nav .nav__menu-overlay{
	position: fixed;
	z-index: 999;
	background-color: rgba(0,0,0,0.5);
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity:0;
	transition: all 0.3s ease;
}


/* responsive */

@media(max-width: 767px){
	.nav .nav__menu-overlay.active{
	visibility: visible;
	opacity: 1;
}
	.nav .nav__menu{
		position: fixed;
		right: -280px;
		visibility: hidden;
		width: 280px;
		height: 100%;
		top:0;
		overflow-y: auto;
		background-color: #222222;
		z-index: 1000;
		padding: 15px 0;
		transition: all 0.5s ease;
	}
	.nav .nav__menu.open{
		visibility: visible;
		right: 0px;
	}
	.nav .nav__list > .nav__item{
		display: block;
		margin:0;
	}
	.nav .nav__list > .nav__item-child > a{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.nav .nav__list > .nav__item > a{
		color: #ffffff;
		padding: 12px 15px;
		border-bottom: 1px solid #333333;
	}
	.nav .nav__list > .nav__item:first-child > a{
	    border-top: 1px solid #333333;	
	}
	.nav .nav__list > .nav__item > .nav__dropdown{
		width: 100%;
		position: relative;
		opacity: 1;
		visibility: visible;
		border:none;
		background-color: transparent;
		box-shadow: none;
		transform: translateY(0px);
		padding: 0px;
		margin-top: 0;
		left: auto;
		top:auto;
		max-height: 0;
		overflow: hidden;
	}
	.nav .nav__list > .nav__item > .nav__dropdown > .nav__item > a{
		padding: 12px 45px;
		color: #ffffff;
		border-bottom: 1px solid #333333;
	}
	.nav .nav__menu-close,
	.nav .nav__menu-open{
		display: flex;
	}

    .nav__button {
    display: none;
    }
}

/*NAVBAR*/

/* HERO SECTION */
.hero {
	padding-top: 77px;
	padding-bottom: 158px;
  }
  .hero__content {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
  }
  .hero__main-title {
	margin-right: 17px;
  }
  .hero__rectangle {
	display: flex;
	align-items: center;
	color: #722ED1;
	padding: 8px 16.5px;
	background-color: #F7F1FF;
	border-radius: 20px;
	margin-top: 54px;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
  }
  .hero__rectangle img {
	margin-right: 12px;
  }
  .hero__rectangle a{
	text-decoration: underline;
	color: #722ED1;

  }
  .hero__header {
	font-weight: 700;
	font-size: 48px;
	line-height: 48px;
	margin-top: 24px;
	margin-bottom:0;
	margin-right: 16px;
	  }
  .hero__paragraph {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	margin: 24px 0;
}
  .hero__btns {
	display: flex;
  }
  .hero__btns a {
	padding: 11px 24px 11px 24px;
	border-radius: 23px;
	font-weight: 500;
	font-size: 14px;
	line-height: 14px;
  }
  .hero__leftbtn {
	margin-right: 16px;
	background: #722ED1;
	color: white;
  }
  .hero__rightbtn {
	border: 1px solid white;
	color: #722ED1;
	background: white;
  }
  
  @media only screen and (max-width: 1024px) {
	.hero__main-title{
		max-width: 70%;
	}

	.hero__content {
	  display: flex;
	  flex-direction: column;
	}
	.hero__img {
	  margin-top: 50px;
	  margin-left: auto;
	  margin-right: auto;
	}
  }
  @media only screen and (max-width: 768px) {
	.hero {
	  padding-top: 10px;
	  padding-bottom: 100px;
	}
	.hero__main-title{
		max-width: 100%;
	}
	
  }
  @media only screen and (max-width: 576px) {
	.hero {
	  padding-top: 0px;
	}
	.hero__header {
	  font-size: 38px;
	  line-height: 1;
	}
	.hero__img img {
	  width: 100%;
	  height: auto;
	}
	.hero__header{
		margin-right: 0;
	}
	.hero__paragraph {
	  font-size: 14px;
	  line-height: normal;
	}
	.hero__btns a {
	  padding: 14px 22px 14px 22px;
	  border-radius: 14px;
	  font-weight: 500;
	  font-size: 12px;
	  line-height: 1;
	}
  }
  @media only screen and (max-width: 425px) {
	.hero {
	  padding-top: 0px;
	}
	.hero__rectangle {
	  margin-top: 30px;
	}
	.hero__main-title {
	  margin-right: 0px;
	}
	.hero__header {
	  line-height:1;
	  font-size: 28px;
	}
	.hero__rectangle  {
		font-size: 12px;
		margin-left: 4px;
		margin-right: 4px;
	}
	.hero__paragraph {
		margin-top: 18px;
	  margin-bottom: 24px;
	}
  }
  /* HERO SECTION */
  



  /* FEATURES SECTION */
  .features {
	padding-top: 112px;
  }
  .features__content{
	text-align: center;
  }
  .features__header{
	display: flex;
	justify-content: center;
	align-items: center;
  }
  .features__rectangle {
	display: flex;
	align-items: center;
	color: #722ED1;
	padding: 8px 15.8px;
	background-color: #F7F1FF;
	border-radius: 20px;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	max-width: -webkit-fit-content;
	max-width: -moz-fit-content;
	max-width: fit-content;
	margin-bottom: 24px;
  }
  .features__rectangle img {
	margin-right: 12px;
  }
  .features__main-title {
	margin-top: 0px;
	color:#160637;
	font-weight: 700;
	margin-bottom: 24px;
	font-size: 32px;
	line-height: 40px;
  }
  .features__paragraph{
	color:#8989A2;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 24px;
	margin-top: 0px;
  }
  .features__cards{
	display: flex;
	align-items: center;
	gap: 16px;
  }
  .features__card-content{
	align-items: center;
	display: flex;
	flex-direction: column;
  }
  .features__card-content img {
	margin-bottom: 16px;

  }
  .features__card-content h1 {
	margin: 0;
	font-weight: 700;
font-size: 16px;
line-height: 24px;
color: #160637;
  }
  .features__card-content p {
	margin: 0;
	padding:16px 0;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #8989A2;
	text-align: center;
	  }

	  @media only screen and (max-width: 768px) {
		.features{
			padding-top: 60px;
		}
		.features__cards{
			flex-direction: column;
			max-width: 60%;
			margin-right: auto;
			margin-left: auto;
		}
		.features__paragraph br{
			display: none;
		}
			  }
			  @media only screen and (max-width: 576px) {
				.features__cards{
					max-width: 70%;
				}
		
			}

			  @media only screen and (max-width: 426px) {
				.features__cards{
					max-width: 100%;
				}
				.features__main-title{
					font-size: 28px;
					margin-bottom: 18px;
				}
				.features__card-content p {
				padding: 12px 0;
				}
				.features__rectangle {
				}
			}
  /* FEATURES SECTION */
